/* Algemene reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
  background-color: #f7f7f7;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  max-width: 900px; /* Smaller container */
  padding: 15px;
  background-color: white;
}

/* Welkomsttekst */
.welcome-text {
  width: 40%;
  text-align: center;
  padding-top: 180px;
}

.welcome-text h1 {
  font-size: 2.6rem; /* Smaller font size */
  font-weight: bold;
  color: #333;
}

.welcome-text h2 {
  font-size: 2.2rem; /* Smaller font size */
  color: #777;
}

/* Formulier aan de rechterzijde */
.booking-form {
  width: 55%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.booking-form h2 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
  border-bottom: 1px solid #eee; /* Lichte lijn onder de titel */
  padding-bottom: 10px;
}

/* Formulierstijl */
.booking-form form {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

/* Form-group-container voor groepen van velden */
.form-group-container {
  display: flex;
  gap: 12px;
  width: 100%;
}

/* Velden naast elkaar */
.form-group {
  flex: 1;
}

/* Specifieke stijlen voor inputvelden */
input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  transition: border-color 0.3s ease;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #4b9cd3;
  outline: none;
}

#message {
  height: 70px;
  resize: vertical;
}

/* Verzenden knop */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #03253c;
  color: white;
  font-size: 14px; /* Kleinere lettergrootte */
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #b4357f;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Succes- en foutmeldingen */
.success-message {
  padding: 8px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 6px;
  margin-bottom: 15px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

/* Validatiestijl */
.invalid input,
.invalid select,
.invalid textarea {
  border-color: red;
  background-color: #f8d7da;
}

.invalid label {
  color: red;
}
